{% extends "usuarios/base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Asignar Asientos - Vuelo {{ vuelo.origen }} → {{ vuelo.destino }}</h2>

    <form method="post">
    {% csrf_token %}
    <h4>Selecciona tus asientos:</h4>
    <div class="asientos">
        {% for asiento in asientos %}
            <label>
                <input type="checkbox" name="asientos" value="{{ asiento.id }}"
                    {% if asiento.usuario_reservado.id_usuario == request.session.usuario_id %}
                        checked
                    {% endif %}
                    {% if asiento.reservado and asiento.usuario_reservado.id_usuario != request.session.usuario_id %}
                        disabled
                    {% endif %}
                >
                Asiento {{ asiento.asiento_numero }}
            </label><br>
        {% endfor %}
    </div>
    <button type="submit">Guardar cambios</button>
</form>

</div>
{% endblock %}
